body {
  margin: 0;
  height: 100vh;
  color: rgba(0, 0, 0, 0.87);
  /* font-family: 'Roboto', sans-serif; */
  font-size: 16px;
}
body ::-webkit-scrollbar {
  width: 0.25rem;
}
body ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.54);
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;
  /* The main content pane of the app */
}
.app .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #efefef;
}

a {
  color: #ff594c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background: none;
}
button:focus {
  outline: none;
}

iframe {
  border: none;
}

hr {
  margin: 1rem 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.center, .schedule .schedule-date, .schedule .schedule-dayname {
  text-align: center;
}

.right {
  text-align: right;
}

.secondary {
  color: rgba(0, 0, 0, 0.54);
}

.schedule, .header-background {
  background-color: rgba(255, 89, 76, 0.2);
  height: 400px;
}

ul.material-list li, .sidebar .toggler {
  cursor: pointer;
}

.nav {
  padding: 10px 5px 0 5px;
  width: 100%;
}
.nav .nav-tabs {
  border: none;
}
.nav .nav-tabs .nav-item {
  cursor: pointer;
}
.nav .nav-tabs .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.54);
  background-color: #e9ecef;
}
.nav .nav-tabs .nav-item .active {
  color: black;
  background-color: white;
}

.sidebar .bottom, .sidebar .item a, .sidebar h1 {
  overflow: hidden;
  white-space: nowrap;
}

.sidebar {
  flex: none;
  padding: 24px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  font-size: 18px;
  transition: width 400ms ease;
  width: 14rem;
}
.sidebar.collapsed {
  width: 5rem;
}
.sidebar.collapsed h1, .sidebar.collapsed .item span {
  opacity: 0;
}
.sidebar .logo {
  align-self: center;
  width: 4rem;
  height: 4rem;
}
.sidebar h1 {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.sidebar .item {
  width: 100%;
  margin: 12px 0 0 0;
  color: black;
}
.sidebar .item.active {
  color: #a51618;
}
.sidebar .item a {
  color: inherit;
  display: block;
  transition: background-color 200ms ease;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.sidebar .item a:hover {
  text-decoration: none;
  border-radius: 5px;
  background-color: rgba(255, 89, 76, 0.1);
}
.sidebar .item a span {
  display: inline;
  margin-left: 1rem;
}
.sidebar .item a svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.sidebar .bottom {
  margin-top: auto;
}
.sidebar .toggler {
  padding: 0 5px 10px 0;
  margin-left: auto;
}

.header-background {
  padding: 24px;
}
.header-background .header {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #ff594c;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.header-background .header .heading {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid;
  color: white;
}
.header-background .header .heading input {
  margin-left: 1rem;
}
.header-background .page {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: white;
  border-radius: 10px;
}

.schedule {
  padding: 24px;
}
.schedule .schedule-dayname {
  font-size: 72px;
}
.schedule .schedule-wrapper {
  max-width: 850px;
  margin: 0 auto 0 auto;
}
.schedule .schedule-wrapper .card {
  margin-bottom: 0.5rem;
}
.schedule .schedule-wrapper .card .card-title {
  font-size: 24px;
}
.schedule .day-alert {
  border: none;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto 1rem;
}
.schedule .day-alert button {
  color: inherit;
  margin-left: auto;
  background: none;
  border: none;
}

.desmos-embed {
  height: 700px;
  width: 100%;
}

ul.material-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: row;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 88px;
}
ul.material-list li {
  display: inline-block;
  padding: 20px 16px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  font-size: 14px;
}
ul.material-list li span {
  display: block;
}

.modal-content .modal-header .badge {
  background-color: #ff594c;
  margin-left: 0.5rem;
}
.testing {
  padding: 24px;
}
.testing > div {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #fafafa;
  border-radius: 10px;
  margin: 10px 0;
}
.testing > div > * {
  margin: 5px 0;
}
.testing .loading-test {
  height: 300px;
}

input[type=search] {
  padding: 4px 4px 4px 10px;
  border: none;
  border-radius: 20px;
}
input[type=search]:focus {
  outline: none;
}

.loading {
  flex-grow: 1;
  background-color: #efefef;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
}
.loading span {
  display: inline-flex;
  margin: auto;
}
.loading span h2 {
  margin-left: 1rem;
}

/*# sourceMappingURL=index.css.map */
