// Theme color
$theme: #ff594c;
$focus: rgba(255, 89, 76, 0.2);
$active-back: rgba(255, 89, 76, 0.3);

// Text color
$primary: rgba(0, 0, 0, 0.87);
$secondary: rgba(0, 0, 0, 0.54);

$background: #fafafa;


// Reactstrap
$danger: $theme;