ul.material-list {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-auto-flow: row;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 88px;

  li {
    display: inline-block;
    padding: 20px 16px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    @extend %clickable;

    span {
      display: block;
    }
  }
}

// [New] badge
.modal-content {
  .modal-header .badge {
    background-color: $theme;
    margin-left: 0.5rem;
  }

  .btn {
    &.close-modal {
      //background-color: $theme;
    }
  }
}
