.loading {
  //height: 100%;
  //width: 100%;
  flex-grow: 1;
  background-color: #efefef;
  color: $secondary;
  display: flex;

  span {
    display: inline-flex;
    margin: auto;

    h2 {
      margin-left: 1rem;
    }
  }
}
