@import '../mixins/content-box';

.testing {
  padding: 24px;

  > div {
    @include content-box();
    margin: 10px 0;
  }

  // The loading component will fill the default space
  .loading-test {
    height: 300px;
  }
}