.bottom-nav {
  max-width: 540px;

  .item {
    transition: background-color 200ms ease;

    // Icon
    > svg {
      height: 1em;
    }
  }

  // Dropup
  .dropup-wrapper {
    .bottom-nav-dropup {
      left: 50%;
      top: -30px;
      transform: translate(-50%, -100%);
    }
  }
}
