@import '../mixins/content-box';
@import '../mixins/dot';

.spinner-border {
  flex-shrink: 0;
}

.classes-error-content {
  max-width: 1000px;
}

.classes-sidebar {
  height: 100vh;

  &.phone {
    height: calc(100vh - 64px);
  }
}

.classes-sidebar-bubble {
  @include dot(50px);
  font-size: 1.5rem;
  cursor: pointer;

  &.phone {
    width: 45px;
    height: 45px;
  }
}

.classes-header-bubble {
  width: 40px;
  height: 40px;
}

// Nav Bar
.classes-navbar {
  &-item {
    padding: 8px 12px;
    border-radius: 5px;
    transition: all ease-in-out 100ms;
  }
}
