@import '../mixins/content-box';
@import '../mixins/dot';

.spinner-border {
  flex-shrink: 0;
}

.classes-sidebar {
  height: 100vh;

  &.phone {
    height: calc(100vh - 64px);
  }
}

.classes-sidebar-bubble {
  @include dot(50px);
  font-size: 1.5rem;
  cursor: pointer;
}
