.mini-calendar {
  width: 300px;
  height: 60vh;

  &.picker {
    position: absolute;
    top: calc(100% + 10px);
  }

  .time {
    padding: 0px 15px;
    display: flex;
    gap: 15px;
    font-family: var(--font-family-monospace);

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;

      svg {
        cursor: pointer;
      }
    }

    .time-input {
      text-align: center;
      width: 80px;
      background-color: var(--content-secondary);
      font-size: 3rem;
      border-radius: 5px;
    }

    .am {
      cursor: pointer;
    }
  }

  .calendar-month {
    grid-auto-rows: 27px;
  }
}
