.image-box {
  border: 1px solid var(--tertiary);
  transition: border 200ms;
  max-width: 30rem; // TODO: think about how to size these

  &:hover {
    border-color: var(--primary);
  }

  h2 {
    font-size: 14pt;
  }
}
