.image-box {
  border-radius: 1.5rem;
  border: 1px solid var(--tertiary);
  transition: border 200ms;
  overflow: hidden;
  max-width: 30rem; // TODO: think about how to size these
  text-align: left;
  cursor: pointer;

  &:hover {
    border-color: var(--primary);
  }

  img {
    width: 100%;
  }

  h2 {
    font-size: 14pt;
    margin: 1rem;
  }

  p {
    margin: 1rem;
  }
}
