%periods-custom-picker-div {
  position: absolute;
  left: calc(100% - 40px);
  z-index: 5;
  touch-action: none;

  > div {
    background-color: var(--bg-primary) !important;

    * {
      color: var(--primary) !important;
    }

    input {
      box-shadow: var(--tertiary) 0 0 0 1px inset !important;
      text-align: center;
      border-radius: .2rem;
      background-color: var(--content-primary);
      width: 100% !important;
    }

    > :last-child {
      border-top: 1px solid var(--tertiary) !important;
    }
  }
}

.periods-custom-picker-div-bottom {
  @extend %periods-custom-picker-div;
  bottom: calc(100% + 10px);
}

.periods-custom-picker-div-top {
  @extend %periods-custom-picker-div;
  top: calc(100% + 10px);
}
