// The schedule portion of the home page
.schedule {
  padding: 15px;
  position: relative;

  // The datetime ("5:31:30 PM")
  &-datetime {
    font-family: var(--font-family-monospace);
  }

  // The day name ("Saturday")
  &-dayname {
    @at-root .home.narrow .schedule-dayname {
      font-size: 55px;
    }
  }

  // The date ("October 10th, 2020")
  &-date {
    @at-root .home.narrow .schedule-date {
      font-size: 24px;
    }
  }

  .period-indicator {
    margin-bottom: 1rem;

    p {
      margin-bottom: 0.25rem;
    }

    .progress {
      height: 0.5rem;
    }
  }

  // The Alert for when you are viewing a different day's schedule
  .day-alert {
    color: var(--primary);
    background-color: var(--bg-primary);
    max-width: 1000px;

    button {
      color: inherit;
    }
  }
}
