@import '../mixins/content-box';

.testing {
  padding: 24px;

  > div {
    @include content-box();
    margin: 10px 0;
  }

  .electron-images {
    height: 434px;

    .carousel {
      height: 100%;
      .carousel-inner {
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  .periods-test {
    display: revert;
  }
}
