.desmos-embed {
  height: 700px;
  width: 100%;
}

.percent-wrapper {
  input {
    background-color: var(--content-secondary);
    border-radius: 2.5px;
    margin-left: 0.25rem;
    padding: 0.2rem 0.5rem;
    width: 12.5rem;
  }
}
