.WIP {
  flex-grow: 1;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;

  /*
  span {
    margin: auto;
    text-align: center;
  }
  */
}
