// A SCSS file detailing all assignment-related things
// includes assignment things in Dashboard, Upcoming, and the modal

// General Reused components
.assignment-tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 5px;
  gap: 5px;

  .assignment-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;

    .assignment-dot {
      flex-shrink: 0;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      margin-right: 5px;
    }

    font-size: 0.7rem;
    background-color: var(--bg-secondary);
    padding: 2px 5px;
    border-radius: 5px;
  }

  .tag-plus {
    position: relative;
    cursor: pointer;
    margin-left: auto;

    > svg {
      background-color: var(--bg-secondary);
      border-radius: 50%;
      padding: 5px;
    }
  }
}

.priority {
  position: relative;

  div:first-child {
    cursor: pointer;
  }

  &-picker {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;

    &.right {
      left: 0;
    }

    width: 150px;
    background-color: var(--content-primary);
    padding: 10px;
    z-index: 4;
    border-radius: 5px;

    &-priority {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 5px;
      cursor: pointer;

      &-dot {
        @include dot(30px);
        margin-right: 10px;
      }
    }
  }
}

.assignment-due {
  display: flex;
  flex-direction: row;

  > div {
    padding: 2px 5px;
    background-color: var(--bg-secondary);
    font-size: 0.8rem;
    border-radius: 3px;
    //cursor: pointer;
  }
}

.assignment-title {
  font-size: 1.25rem;
}

// Upcoming Assignments
.upcoming-assignment {
  background-color: var(--bg-primary);
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 0.25rem;
  transform: none;
  transition: transform 200ms;

  &.active {
    // box-shadow: 0px 0px 10px var(--primary);
    transform: scale(1.03);
  }
  

  .upcoming-assignment-content {
    flex-grow: 1;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .upcoming-assignment-desc {
      font-size: 0.8rem;
      margin-top: 10px;
    }

    .assignment-due {
      margin-top: 10px;
    }
  }

  .upcoming-assignment-icons {
    width: 85px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 0;

    &-top {
      display: flex;
      flex-direction: row;
    }

    &-bottom {
      display: flex;
      flex-direction: row;
      margin-top: auto;

      .priority {
        margin-left: auto;
      }
    }
  }
}
