// For the Class Filter component
// i.e. the search bar + friends in Upcoming / Materials

.class-picker {
  cursor: auto;
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  width: 300px;
  background-color: var(--content-primary);
  padding: 10px;
  border-radius: 5px;
  margin-left: 0;
  z-index: 5;

  h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  hr {
    margin: 0;
  }

  .class-picker-search {
    background-color: var(--content-secondary);
    padding: 6px 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
  }

  .class-picker-tags {
    margin-top: 10px;
    height: 250px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid var(--tertiary);
    border-bottom: 1px solid var(--tertiary);
    padding: 10px 5px;
  }

  .class-picker-footer {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    gap: 5px;

    svg {
      cursor: pointer;
    }
  }
}
