@import '../../mixins/dot';

.create-modal {
  .create-name {
    background-color: var(--contrast);
    padding: 3px 5px;
  }

  .period-picker-text {
    margin-top: 10px;
  }

  .class-picker {
    .dot {
      @include dot(1.75rem);
    }
  }

  .create-desc {
    height: 150px;
  }
}
