@import "../../mixins/content-box";
@import "../../mixins/dot";

.sgy-auth-button {
  @include content-box($bg-color: var(--bg-secondary));
  margin: 10px 0;
}

.dashboard-burrito {
  flex-grow: 1;
}

.dashboard-section {
  flex: 50%;
}

// Dashboard Assignments
.blurb-assignment {
  display: flex;
  align-items: center;
  background-color: var(--contrast);
  padding: 15px;
  border-radius: 5px;
  margin: 15px 0;

  .blurb-assignment-content {
    flex-grow: 1;
    cursor: pointer;

    .assignment-due > div {
      background-color: var(--content-tertiary);
    }
  }
}

.toggle-completed {
  background-color: var(--contrast);
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 50ms;
  height: max-content;

  &:hover {
    background-color: var(--content-secondary);
  }
}

.blurb-upcoming-redirect {
  display: flex;
  align-items: center;
  justify-content: center;

  .toggle-completed {
    margin-right: 0.75rem;
  }

  .see-more {
    background-color: var(--contrast);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 50ms;
    text-align: center;

    &:hover {
      background-color: var(--content-secondary);
    }

    > a {
      color: var(--primary);
      text-decoration: none;
    }
  }
}

.dashboard-qi-main {
  font-size: 1.3rem;
}

.dashboard-grades {
  margin-bottom: 5px;
}

.dashboard-grade {
  &-all {
    &-bubble {
      @include dot(30px);
    }
  }
}

.reauth-footer {
  display: flex;
  margin-top: auto;
  align-items: center;
  padding: 10px 0px;
  
  button {
    margin-left: auto;
    background-color: var(--active);
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    transition: opacity 0.2s ease;
  }
}

.fetch-footer {
  display: flex;
  align-items: center;
  padding-top: 10px;

  .spinner-border {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .fetch-footer-button {
    margin-left: auto;
    background-color: var(--contrast);
    padding: 3px 10px;
    border-radius: 5px;
    transition: opacity 0.2s ease;

    &.disabled {
      background-color: var(--contrast);
      opacity: 30%;
    }
  }
}
