
.upcoming-cal {
  width: 300px;
  position: sticky;
  top: 5px;
  border-radius: 5px;
  background-color: var(--bg-primary);
}

.upcoming-cal-tooltip {
  position: absolute;
  transform: translate(0%,-50%);
  background-color: var(--content-primary);
  padding: 2px 5px;
}