@import '../../mixins/dot';

.upcoming-burrito {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: -15px;
}

.upcoming {
  flex: 1;
  margin: 15px;
}

.upcoming-day-header {
  margin: 10px 0;
  font-size: 1.1rem;
}

.upcoming-overdue-header {
  margin: 10px 0;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  a { 
    color:var(--primary);
  }
}

.upcoming-icons {
  .add-assignment {
    background-color: var(--contrast);
    border-radius: 50%;
    padding: 10px;
    display: flex;
  }
}
