@mixin content-box($radius: 10px, $padding: 20px, $bg-color: var(--content-primary)) {
  display: flex;
  flex-direction: column;
  padding: $padding;
  background-color: $bg-color;
  border-radius: $radius;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
