// For the Class Filter component
// i.e. the search bar + friends in Upcoming / Materials

.class-filter-search-bar {
  background-color: var(--bg-primary);
  padding: 8px 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
}

.class-palette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--bg-primary);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;

  > .class-palette-dot {
    @include dot(17px);

    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}

.class-burrito {
  position: relative;
}

.class-picker {
  cursor: auto;
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  width: 300px;
  background-color: var(--content-primary);
  padding: 10px;
  border-radius: 5px;
  margin-left: 0;
  z-index: 5;

  .class-picker-search {
    background-color: var(--bg-primary);
    padding: 6px 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
  }

  .class-picker-tags {
		margin-top: 15px;
		height: 300px;
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		gap: 5px;
		border-top: 1px solid var(--tertiary);
		border-bottom: 1px solid var(--tertiary);
		padding: 5px 0px;

    .class-picker-class {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      .class-picker-dot {
        @include dot(30px);
        margin-right: 10px;
      }
    }

  }

	.class-picker-footer {
		display: flex;
		flex-direction: row;
		margin-top: 5px;
		gap: 5px;

		svg {
			cursor: pointer;
		}
	}
}

.date-range-selector {
  &.phone {
    margin-top: 5px;
    // margin-left: auto;

    .date-range-selector-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &:not(.phone) {
    // margin-left: auto;

    .mini-calendar {
      right: 0;
    }
  }
}
