@import "../../mixins/content-box";
@import "../../mixins/dot";

.sgy-auth-button {
  @include content-box($bg-color: var(--bg-secondary));
  margin: 10px 0;
}

.dashboard-burrito {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: -15px;
  //height: 100%;

  &.phone,
  &.smallScreen {
    flex-wrap: wrap;
  }
}

// Perhaps this should `@include content-box(...)` so that certain styles don't need to be repeated
.dashboard-section {
  flex: 50%;
  border-radius: 5px;
  padding: 15px;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

  > div:not(:first-child) {
    border-top: 1px solid var(--primary);
  }

  /*
  &-left {
    height: max-content;
  }
  &-right {
    height: 100%;
  }
  */

  margin: 15px;
}

.dashboard-header {
  font-size: 2rem;
}

// Dashboard Assignments
.blurb-assignment {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--contrast);
  padding: 15px;
  border-radius: 5px;
  margin: 15px 0;

  .blurb-assignment-content {
    flex-grow: 1;
    cursor: pointer;

    .assignment-due > div {
      background-color: var(--content-tertiary);
    }
  }
}

.toggle-completed {
  background-color: var(--contrast);
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 50ms;

  &:hover {
    background-color: var(--content-secondary);
  }
}

.blurb-upcoming-redirect {
  display: flex;
  align-items: center;
  justify-content: center;

  .toggle-completed {
    margin-right: 0.75rem;
  }

  .see-more {
    background-color: var(--contrast);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 50ms;

    &:hover {
      background-color: var(--content-secondary);
    }

    > a {
      color: var(--primary);
      text-decoration: none;
    }
  }
}

// Quick Info
.dashboard-quick-info {
  padding-bottom: 15px;
  // border-bottom: 1px solid white;
}

.dashboard-qi-main {
  font-size: 1.3rem;
}

.dashboard-grades {
  margin-bottom: 5px;
}

.dashboard-grade {
  padding: 5px 0 15px 0;

  &-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;

    &-bubble {
      @include dot(30px);
      margin-right: 10px;
    }
  }
}

.fetch-footer {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  align-items: center;
  padding-top: 10px;

  .spinner-border {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .fetch-footer-button {
    margin-left: auto;
    background-color: var(--contrast);
    padding: 3px 10px;
    border-radius: 5px;
    transition: opacity 0.2s ease;

    &.disabled {
      background-color: var(--contrast);
      opacity: 30%;
    }
  }
}
