
.quick-calendar {
  margin: 10px 0px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(7, 1fr);

  &.phone {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin quick-calendar-day() {
  padding: 3px;
  border-radius: 4px;
  display: block;
  text-align: center;
  min-height: 70px;
}

.quick-calendar-day-active {
  @include quick-calendar-day();
  background-color: var(--content-primary);
}

.quick-calendar-day-inactive {
  @include quick-calendar-day();
  background-color: var(--bg-secondary);
}

.quick-calendar-dots {
  display: flex;
  flex-direction: row;
  margin: 2px 0px;

  flex-wrap: wrap;
  justify-content: center;
}

.quick-calendar-dot {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 3px;
}
