body {
  margin: 0;
  font-size: 16px;

  --primary: rgba(0, 0, 0, 0.87);   // Primary text color
  --secondary: rgba(0, 0, 0, 0.54); // Secondary text color
  --tertiary: rgba(0, 0, 0, 0.1);   // Tertiary text color
  --bg-primary: white;              // Primary background (sidebar) -- equal to content-primary on light mode
  --bg-secondary: #f7f8fd;          // Secondary background (page background, sidebar hover)
  --content-primary: white;         // Primary content color (main page section)
  --content-secondary: #e9ecef;     // Secondary content color (inactive tabs)
  --content-tertiary: #e9ecef;      // Tertiary content (darker sections) -- equal to content-secondary on light mode, bg-secondary on dark
  --contrast: #f7f8fd;              // Contrast color for classes -- equal to bg-secondary on light mode, content-primary on dark
  --active: #a51618;                // Theme color (links, sidebar components, header box colors)

  .dark & {
    //color-scheme: dark;
    --primary: white;
    --secondary: rgba(255, 255, 255, 0.54);
    --tertiary: rgba(255, 255, 255, 0.1);
    --bg-primary: rgb(25, 25, 27);
    --bg-secondary: rgb(35, 35, 37);
    --content-primary: rgb(55, 55, 57);
    --content-secondary: rgb(42, 42, 44);
    --content-tertiary: rgb(35, 35, 37);
    --contrast: rgb(55, 55, 57);
    --active: #ff594c;
  }

  background-color: var(--bg-secondary);
}

::-webkit-scrollbar {
  width: 0.25rem;

  &-thumb {
    background: var(--secondary);
  }
}

#root {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  position: relative;

  &.vertical {
    flex-direction: column;

    #content {
      padding-bottom: 64px;
    }
  }

  // The main content pane of the app
  #content {
    flex-grow: 1;
  }
}

.firebase-emulator-warning {
    display: none;
}
