@import 'mixins/circle';

// Components

input {
  background-color: var(--content-primary);
  outline: none;
}

// Utility classes
// Alignment
.center {text-align: center;}
.right {text-align: right;}

.clickable {cursor: pointer;}
