// Restyles for reactstrap components

// <Modal>
.modal-content {
  -webkit-overflow-scrolling: touch;
  background-color: var(--content-primary);

  .modal-header, .modal-footer {
    border-color: var(--tertiary);
  }
}

// <Table>
.table {
  color: var(--primary);
  * {
    &:hover * {
      color: var(--primary);
    }
    * {
      border-color: var(--tertiary) !important;
    }
  }
}

// <Input>
input.form-control {
  $color: var(--primary);
  $background-color: var(--content-secondary);
  $border-color: var(--tertiary);

  color: $color;
  background-color: $background-color;
  border-color: $border-color;

  &:focus {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
  }
}

// <FormGroup check>
.form-check {
  $size: 1.75rem;
  padding-left: $size;

  .form-check-input {
    margin-left: -$size;
  }
}

// <Button>
@mixin recolorBootstrapButton($button, $variable) {
  .btn-outline-#{$button} {
    color: var($variable);
    border-color: var($variable);

    &:hover {
      border-color: var($variable);
      background-color: var($variable);
    }
  }
}
@include recolorBootstrapButton(danger, --active);
@include recolorBootstrapButton(secondary, --secondary);

// <Button close>
button.close {
  color: var(--primary);
  text-shadow: 0 1px 0 var(--tertiary);

  &:hover {
    color: var(--primary);
  }
}
