body {
  --primary: rgba(0, 0, 0, 0.87);   // Primary text color
  --secondary: rgba(0, 0, 0, 0.54); // Secondary text color
  --tertiary: rgba(0, 0, 0, 0.1);   // Tertiary text color
  --content-tertiary: #e9ecef;      // Tertiary content (darker sections) -- equal to content-secondary on light mode, bg-secondary on dark
  --contrast: #f7f8fd;              // Contrast color for classes -- equal to bg-secondary on light mode, content-primary on dark

  .dark & {
    //color-scheme: dark;
    --primary: white;
    --secondary: rgba(255, 255, 255, 0.54);
    --tertiary: rgba(255, 255, 255, 0.1);
    --content-tertiary: rgb(35, 35, 37);
    --contrast: rgb(55, 55, 57);
  }
}
