.barcode-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;

  // The left half of the barcode, where the code is displayed
  .canvas-wrapper {
    flex: auto;
    position: relative;

    .barcode-label {
      width: 100%;
      text-align: center;
    }

    .barcode-input {
      display: block;
      position: relative;
      width: 100%;
      height: 102px;
      z-index: 10;
      color: black;
      background-color: rgba(255,255,255,.75);
      padding: 5px;
      font-size: 2.5rem;
      font-family: var(--font-family-monospace);
      text-align: center;

      &:not(:focus) {
        cursor: pointer;
      }
    }

    > canvas {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 102px;
      padding: 20px;
      background-color: white;
    }
  }

  // The right half of the barcode containing the controls (like the display button)
  .buttons-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

.barcode-add-button {
  font-weight: bold;
  margin-top: 0.5rem;
}

.barcode-overlay {
  position:fixed;
  left: 0px;
  top:0px;
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 10;

  .barcode-overlay-warning {
    color:white;
    position: absolute;
    left: 10px;
    top:10px;
  }

  .barcode-overlay-bar {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

    canvas {
      width: 320px;
      height: 150px;
    }

  }
}
