.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--bg-primary);
  width: 100vw;
  padding: 1rem;
  z-index: 10;

  .nav-container {
    display: flex;
    max-width: 540px;

    .item {
      flex-grow: 1;
      color: var(--primary);
      font-size: 1.3rem;

      &:hover {
        a {
          text-decoration: none;
        }
        border-radius: 5px;
        //background-color: $focus;
        background-color: var(--bg-secondary);
      }

      // Text
      span {
        display: none;
      }

      // Icon
      svg {
        display: inline-block;
        font-size: inherit;
        height: 1em;
        overflow: visible;
        vertical-align: -0.125em;
      }

      // Active
      &.active {
        color: var(--active);
      }

      // The <Link> components
      a, button {
        display: block;
        color: inherit;
        text-align: center;
        padding: 0;
      }
    }

    .dropup-wrapper {

        position: relative;

        span {
            display:block;
        }

        .bottom-nav-dropup {
            position: absolute;
            left: 50%;
            top: -30px;
            transform: translate(-50%, -100%);

            display: flex;
            flex-direction: column-reverse;
            padding: 5px;
            
            background-color: var(--bg-primary);
            border-radius: 15px;

            .item {
                margin: 5px;
                
                // sacrificing cows for good luck with css override/specificity rules
                a > span {
                    display:none;
                }
                button > span {
                    display: none;
                }
            }
        }
    }

    
  }
}