@import '../mixins/content-box';
@import '../mixins/dot';

.spinner-border {
  flex-shrink: 0;
}

.classes-error-burrito {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.classes-error-content {
  background-color: var(--bg-primary);
  max-width: 1000px;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.classes-sidebar {
  width: 70px;
  padding: 15px 10px;
  &.phone {
    width: 55px;
    padding: 15px 5px;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;

  &.expanded { 
    width: min(275px, 80vw);
  }

  background-color: var(--bg-primary);

  height: 100vh;

  &.phone {
    height: calc(100vh - 64px);
  }

  position: fixed;
  right: 0px;
}

.classes-sidebar-bubble {
  @include dot(50px);
  font-size: 1.5rem;
  cursor: pointer;

  &.phone {
    width: 45px;
    height: 45px;
  }
}

.classes-sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;

  .classes-sidebar-text {
    margin-right: 15px;
  }
}

.classes-burrito {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  height: 100%;

  &.phone {
    height: calc(100vh - 64px);
  }
}

.classes-content {

  padding: 10px calc(10px + 70px) 10px 10px;
  &.phone {
    padding: 10px calc(10px + 55px) 10px 10px;
  }

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;

  height: 100vh;

  &.phone {
    height: calc(100vh - 64px);
  }

  overflow-y: scroll;
  overflow-x: hidden;
}

// Header

.classes-header {
  @include content-box($padding: 12px 20px, $bg-color: var(--active));
  color: white;

  // padding: 15px;
  margin-bottom: 15px;
  flex-direction: row;
  align-items: center;
}

.classes-header-bubble {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  flex-shrink: 0;
  border: 2px solid var(--secondary);
}

.classes-header-text {
  margin-left: 15px;
  margin-bottom: 0;
}

// Nav Bar
.classes-navbar {
  display: flex;
  flex-direction: row;
  // margin-bottom: 15px;
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;
}

.classes-page {
  padding-right: 0;
  padding-left: 0;
  height: 100%;
}

@mixin classes-navbar-item() {
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 15px;
  transition: all ease-in-out 100ms;

  a {
    color: var(--primary);
    text-decoration: none;
  }
}

// TODO: this pattern of using mixins and then `-selected` isn't great
// Should do `.classes-navbar-item.selected` instead and nest styles without mixins for less build output and
// repeated styling
.classes-navbar-item {
  @include classes-navbar-item();
  background-color: var(--content-secondary);
  //border: 1px solid var(--primary);
}

.classes-navbar-item-selected {
  @include classes-navbar-item();
  background-color: var(--content-primary);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
