@import '../mixins/content-box';

.sgy-auth-button {
    @include content-box($bg-color: var(--bg-secondary));
    margin: 10px 0;
}

.dashboard-burrito {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: -15px;

    &.phone, &.smallScreen {
        flex-wrap: wrap;
    }
}

.dashboard-section {
    flex: 50%;
    border-radius: 5px;
    padding: 15px;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;

    > div:not(:last-child) {
        border-bottom: 1px solid white;
    }

    margin: 15px;
}

.dashboard-header {
    font-size: 2rem;
}

.upcoming-blurb-quick-cal {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 8px;
}

@mixin upcoming-blurb-qc-day() {
    padding: 3px;
    border-radius: 4px;
    display: block;
    text-align: center;
    min-height: 70px;
}

.upcoming-blurb-qc-day-active {
    @include upcoming-blurb-qc-day();
    background-color: var(--content-primary);
}

.upcoming-blurb-qc-day-inactive {
    @include upcoming-blurb-qc-day();
    background-color: var(--bg-secondary);
}

.upcoming-blurb-qc-dots { 
    display: flex;
    flex-direction: row;
    margin: 2px 0px;

    flex-wrap: wrap;
    justify-content: center;
}

.upcoming-blurb-qc-dot {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 3px;
}

.ub-assignment {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--content-primary);
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0px;
}

.ub-assignment-dot {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color:white;
    margin-right: 15px;
    flex-shrink: 0;
}

.ub-assignment-content {
    flex-grow: 1;
}
.up-assignment-title {
    font-size: 1.2rem;
}
.up-assignment-due {
    font-size: 0.9rem;
}

.ub-upcoming-redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
        background-color: var(--content-primary);
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;

        >a {
            color:var(--primary);
            text-decoration: none;
        }
    }
}

// Quick Info
.dashboard-quick-info {
    padding-bottom: 15px;
    // border-bottom: 1px solid white;
}

.dashboard-qi-main {
    font-size: 1.3rem;
}

.dashboard-grade {
    padding: 5px 0px 15px 0px;
    
}

// Grade
.dashboard-grade-hidden {

    position:relative;

    &::after {
        content: "[ Click to Reveal ]"; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

}

.dashboard-grade-hide {
    display: flex;
    margin-top: 10px;

    >div {
        padding: 5px;
        border-radius: 5px;
        background-color: var(--content-primary);
        cursor: pointer;
    }
}

.dashboard-grade-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    margin-top: 5px;
}

.dashboard-grade-all-bubble {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-right: 10px;
    flex-shrink: 0;
}
