@import '../mixins/content-box';

.sgy-auth-button {
    @include content-box($bg-color: var(--bg-secondary));
    margin: 10px 0;
}

.dashboard-burrito {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.dashboard-section {
    // height: 100%;
    flex: 50%;
    border-radius: 5px;
    padding: 15px;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    // overflow-y: scroll;
}

.dashboard-section-left {
    margin-right: 15px;
}

.dashboard-header {
    font-size: 2rem;
}

.upcoming-blurb-quick-cal {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 8px;
}

.upcoming-blurb-qc-day {
    background-color: var(--bg-secondary);
    padding: 3px;
    border-radius: 4px;
    display: block;
    text-align: center;
}

.upcoming-blurb-qc-dots { 
    display: flex;
    flex-direction: row;
    margin: 2px 0px;

    flex-wrap: wrap;
    justify-content: center;
}

.upcoming-blurb-qc-dot {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 3px;
}

.ub-assignment {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--content-primary);
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0px;
}

.ub-assignment-dot {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color:white;
    margin-right: 15px;
}

.ub-assignment-content {
    flex-grow: 1;
}
.up-assignment-title {
    font-size: 1.2rem;
}
.up-assignment-due {
    font-size: 0.9rem;
}

.ub-upcoming-redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
        background-color: var(--content-primary);
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
    }
}
