// The date selector
.date-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .date-selector-box {
    background-color: var(--content-primary);
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 15px 0;
    width: 220px;
    border-radius: 5px;
    position: relative;

    .date-selector-main-text {
      cursor: pointer;
    }

    .mini-calendar {
      position: absolute;
      top: calc(100% + 10px);
      width: 300px;
      height: 60vh;
      border-radius: 15px;
      z-index: 5;
      display: flex;
      flex-direction: column;
      background-color: var(--content-primary);

      .calendar-days-wrapper {
        background-color: var(--content-secondary);
        color: var(--primary);
        padding: 10px 15px 5px 15px;
        border-radius: 15px 15px 0 0;

        .calendar-weekdays {
          height: 30px;
          display: grid;
          grid-template-columns: repeat(7,1fr);

          .calendar-weekday {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

      }

      .calendar-wrapper {
        padding: 5px 15px 10px 15px;
        overflow: auto;

        .calendar-month-header {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 15px 0 3px 0;
          font-size: 0.8rem;
        }

        .calendar-month {
          display: grid;
          grid-template-columns: repeat(7,1fr);
          grid-auto-rows: 27px;

          .calendar-day {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }

          .calendar-day-no-school {
            color: var(--secondary)
          }

          .calendar-day-selected {
            background-color: var(--active);
            color: white;
            border-radius: 15px;
          }
        }
      }

      .calendar-jump {
        background-color: var(--content-secondary);
        color: var(--primary);
        padding: 5px 15px 10px 15px;
        border-radius: 0 0 15px 15px;
        display:flex;
        flex-direction: row;

        .calendar-jump-today {
          cursor: pointer;
        }
        .calendar-jump-tmrw {
          cursor: pointer;
          margin-left: auto;
        }
      }
    }
  }
}

// .react-datepicker-wrapper {
//   padding: 5px 0;
//   background-color: var(--content-primary);
//   color: inherit;
//   border-radius: 5px;
//   box-shadow: 0 3px 5px 3px rgba(0,0,0,.1);

//   input {
//     text-align: center;
//     border: none;
//     background: none;

//     &:focus {
//       outline: none;
//     }
//   }
// }
