@import '../mixins/content-box';

// The events portion of the home page
.events {
  &::-webkit-scrollbar {
    display: none;
  }
  padding: 15px;
  margin: 0 10px;
  list-style: none;

  // Style for large screens
  .two-col & {
    height: calc(100vh - 48px); // 100vh - 48px doesn't work but calc(100vh - 48px) does
    overflow: auto;
    @include content-box();
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    position: sticky;
    top: 24px;

    // The heading for the events sidebar
    &-heading {
      position: sticky;
      top: 0;
      background-color: inherit;
    }
  }

  // The div content pane for the events sidebar
  &-content {
    //height: 100%;
    //overflow: scroll;

    .event {
      p {
        margin-bottom: 0.5rem;
      }
      margin-bottom: 1rem;
    }
  }
}
