@import '../mixins/content-box';


.header-background {
  padding: 24px;
  z-index: 2;

  // Lower padding on small screens
  .vertical & {
    padding: 15px;
  }

  // Red box that displays the heading
  .header {
    @include content-box($padding: 12px 20px, $bg-color: $theme);
    color: white;
  }

  .heading {
    display: flex;
    align-items: center;
    width: 100%;
    //border-bottom: 2px solid;

    h1 {
      margin-right: 1rem;
    }

    // Search box in lists
    input {
      //margin-left: 1rem;
      border: 2px solid rgba(0, 0, 0, 0.1);
    }
  }

  // Nav div which contains the nav tabs
  .page-nav {
    margin-top: 1.5rem;
    padding: 0;

    ul {
      padding: 0;

      .nav-item {
        box-shadow: 0 0 3px -3px rgba(0, 0, 0, 0.1);

        // First and last get left and right shadows respectively
        &:first-child {
          box-shadow: -5px 0 5px -3px rgba(0, 0, 0, 0.1);
        }
        &:last-child {
          box-shadow: 5px 0 5px -3px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  // White box that displays the tab content
  .page {
    @include content-box($radius: 0 0 10px 10px);
    //min-height: 300px;
  }
}
