@import '../mixins/content-box';


.header-background {
  //@extend %theme-backdrop;
  padding: 24px;
  z-index: 2;

  // Red box that displays the heading
  .header {
    @include content-box($bg-color: $theme);
    color: white;
  }

  .heading {
    display: flex;
    align-items: center;
    width: 100%;
    //border-bottom: 2px solid;

    // Search box in lists
    input {
      margin-left: 1rem;
      border: 2px solid $tertiary;
    }
  }

  // Nav div which contains the nav tabs
  .page-nav {
    margin-top: 1.5rem;
    padding: 0;

    ul {
      padding: 0;

      .nav-item {
        box-shadow: 0 0 3px -3px $tertiary;

        // First and last get left and right shadows respectively
        &:first-child {
          box-shadow: -5px 0 5px -3px $tertiary;
        }
        &:last-child {
          box-shadow: 5px 0 5px -3px $tertiary;
        }
      }
    }
  }

  // White box that displays the tab content
  .page {
    @include content-box($radius: 0 0 10px 10px, $bg-color: white);
    //min-height: 300px;
  }
}
