.loading {
  flex-grow: 1;
  background-color: #efefef;
  color: $secondary;
  display: flex;
  height: 300px;

  span {
    display: inline-flex;
    margin: auto;

    h2 {
      margin-left: 1rem;
    }
  }
}
