.periods-settings {
  label {
    font-size: 0.8rem;
    color: var(--secondary);
  }
}

.periods-custom-row-burrito {
    display: flex;
    align-items: center;
}

.periods-custom-picker-burrito {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: relative;
}

.periods-custom-picker-square {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--primary);
    cursor: pointer;
}

@mixin periods-custom-picker-div {
    position: absolute;
    left: calc(100% - 40px);
    z-index: 5;
}

.periods-custom-picker-div-bottom {
    @include periods-custom-picker-div();
    bottom: calc(100% + 10px);
}

.periods-custom-picker-div-top {
    @include periods-custom-picker-div();
    top: calc(100% + 10px);
}
