.upcoming-burrito {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: -15px;
}

.upcoming-cal {
    width: 25%;
    // background-color: var(--bg-primary);
    margin: 15px;
    position: sticky;
    top: 5px;
    height: 80vh;
    border-radius: 5px;
    overflow-y: scroll;
}

.upcoming {
    flex: 1;
    // background-color: #00000055;
    margin: 15px;
}

.upcoming-search {
    background-color: var(--content-primary);
    margin: 10px -5px;
    padding: 10px;
    border-radius: 9px;
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
}

.upcoming-search-bar {
    background-color: var(--bg-primary);
    padding: 8px 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2rem;
}

.upcoming-filters {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    align-items: center;

    &.phone {
        flex-wrap: wrap;
    }
}

@mixin dot ($diameter) {
    width: $diameter;
    height: $diameter;
    flex-shrink: 0;
    border-radius: $diameter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upcoming-palette {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--bg-primary);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;

    > .upcoming-palette-dot {
        @include dot(17px);

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.upcoming-palette-burrito {
    position: relative;
}

.upcoming-palette-picker {
    cursor: auto;
    position: absolute;
    top: calc(100% + 15px);
    width: 300px;
    background-color: var(--content-primary);
    padding: 10px;
    border-radius: 5px;
    margin-left: 0px;
    z-index: 5;

    .upcoming-palette-picker-class {

        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        .upcoming-palette-picker-dot {
            @include dot(30px);
            margin-right: 10px;
        }

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
    
}

.date-range-selector {
    

    &.phone {
        margin-top: 5px;
        margin-left: auto;
        
        .date-range-selector-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &:not(.phone) {
        margin-left: auto;

        .mini-calendar {
            right: 0px;
        }
    }
}

.upcoming-day-header {
    margin: 10px 0px;
    font-size: 1.1rem;
}

.upcoming-assignment{
    background-color: var(--bg-primary);
    padding: 15px 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .upcoming-assignment-tags {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 5px;

        .upcoming-assignment-tag {
            display: flex;
            flex-direction: row;
            align-items: center;

            .upcoming-assignment-dot {
                flex-shrink: none;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                margin-right: 5px;
            }

            font-size: 0.7rem;
            background-color: var(--bg-secondary);
            padding: 2px 5px;
            border-radius: 5px;
        }
    }

    .upcoming-assignment-name {
        font-size: 1.3rem;
    }
    
    .upcoming-assignment-desc {
        font-size: 0.8rem;
        margin-top: 10px;
    }
    
    .upcoming-assignment-due {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        
        > div {
            padding: 2px 5px;
            background-color: var(--bg-secondary);
            font-size: 0.8rem;
            border-radius: 3px;
            cursor: pointer;
        }
        
    }
}
