.desmos-embed {
  height: 700px;
  width: 100%;
}

.map {
  position: fixed;
  height: 100vh;
}

.percent-wrapper {
  input {
    background-color: var(--content-secondary);
    border-radius: 2.5px;
  }
}

