name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main
    paths:
      - "client/**"
      - "shared/**"
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci && cd client && CI=false npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_GUNNWATT }}'
          channelId: live
          projectId: gunnwatt
