name: Deploy Firebase Functions on merge
'on':
  push:
    branches:
      - main
    paths:
      - "functions/**"
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd functions && npm ci
      - uses: w9jds/firebase-action@master
        with:
          args: deploy --only functions
        env:
          FIREBASE_TOKEN: '${{ secrets.FIREBASE_TOKEN }}'
