@import 'variables';

body {
  margin: 0;
  height: 100vh;
  color: $primary;
  font-size: 16px;
  background-color: $grey;

  ::-webkit-scrollbar {
    width: 0.25rem;
  }

  ::-webkit-scrollbar-thumb {
    background: $secondary;
  }
}

#root {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  position: relative;

  &.vertical {
    flex-direction: column;
  }

  // The main content pane of the app
  #content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
  }
}

#red-bg {
  @extend %theme-backdrop;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}