@import 'mixins/circle';

// Components
a {
  color: $theme;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $theme;
  }
}

button {
  border: none;
  background: none;
  color: inherit;

  &:focus {
    outline: none;
  }
}

input {
  background-color: var(--content-primary);
  color: inherit;
  border: none;
  outline: none;

  // UGWA material radio
  &[type="radio"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    @include circle(16px);
    border: 2px solid var(--secondary);

    &::after, &::before {
      content: '';
      display: block;
      @include circle(8px);
      position: absolute;
      transform: scale(0);
      background: var(--active);
      top: 2px;
      left: 2px;
      transition: all .2s;
      pointer-events: none;
    }

    &:checked {
      border-color: var(--active);

      &::after {
        transform: scale(1);
      }
    }
  }
}

iframe {border: none;}

hr {
  margin: 1rem 0;
  border-top: 2px solid var(--tertiary);
}


// Utility classes
// Alignment
.center {text-align: center;}
.right {text-align: right;}

// Color
.secondary {color: var(--secondary);}


// Utility inheritables
.clickable {cursor: pointer;}
