// Components
a {
  color: $theme;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  background: none;

  &:focus {
    outline: none;
  }
}

iframe {border: none;}

hr {
  margin: 1rem 0;
  border-top: 2px solid rgba(black, 0.1);
}


// Utility classes
// Alignment
.center {text-align: center;}
.right {text-align: right;}

// Color
.secondary {color: $secondary;}


// Utility inheritables
%theme-backdrop {
  background-color: $theme-light;
  height: 400px;
}
%clickable {cursor: pointer;}


// Reactstrap
// <Nav>
.nav {
  padding: 10px 5px 0 5px;
  width: 100%;

  &.nav-tabs {
    border: none;

    .nav-item {
      border-radius: 5px;
      cursor: pointer;

      .nav-link {
        border: none;
        color: $secondary;
        background-color: #e9ecef;

        &.active {
          color: black;
          background-color: white;
        }
      }
    }
  }
}

.react-datepicker-popper {
  // This doesn't work, the issue persists
  flex: none;
}

