// Restyles for reactstrap components

// <Nav>
.nav {
  padding: 10px 5px 0 5px;
  width: 100%;

  &.nav-tabs {
    border: none;

    .nav-item {
      border-radius: 5px;
      cursor: pointer;

      .nav-link {
        border: none;
        color: var(--secondary);
        background-color: var(--content-secondary);

        &.active {
          color: var(--primary);
          background-color: var(--content-primary);
        }
      }
    }
  }
}

// <Modal>
.modal-content {
  -webkit-overflow-scrolling: touch;
  background-color: var(--content-primary);

  .modal-header, .modal-footer {
    border-color: var(--tertiary);
  }
}

// <Jumbotron>
.jumbotron {
  background-color: var(--bg-secondary);
}

// <Table>
.table {
  color: var(--primary);
  * {
    &:hover * {
      color: var(--primary);
    }
    * {
      border-color: var(--tertiary) !important;
    }
  }
}

// <Card>
.card {
  background-color: var(--bg-secondary);
}

// <Input>
input.form-control {
  color: var(--primary);
  background-color: var(--content-secondary);
  border-color: var(--tertiary);

  &:focus {
    color: var(--primary);
    background-color: var(--content-secondary);
    border-color: var(--tertiary);
  }
}

// <FormGroup check>
.form-check {
  $size: 1.75rem;
  padding-left: $size;

  .form-check-input {
    margin-left: -$size;
  }
}

// <Button>
@mixin recolorBootstrapButton($button, $variable) {
  .btn-outline-#{$button} {
    color: var($variable);
    border-color: var($variable);

    &:hover {
      border-color: var($variable);
      background-color: var($variable);
    }
  }
}
@include recolorBootstrapButton(danger, --active);
@include recolorBootstrapButton(secondary, --secondary);

// <Button close>
button.close {
  color: var(--primary);
  text-shadow: 0 1px 0 var(--tertiary);

  &:hover {
    color: var(--primary);
  }
}
