// Theme color
$theme: #ff594c;
$focus: rgba(255, 89, 76, 0.1);
$active-back: rgba(255, 89, 76, 0.2);

$theme-light: #fcebebff;
$theme-dark: #a51618;

$grey: #f7f8fdff;

// Period default colors
$period-red: #f4aeafff;
$period-teal: #aef4dcff;
$period-blue: #aedef4ff;
$period-purple: #aeaff4ff;
$period-orange: #f4dcaeff;
$period-green: #aff4aeff;
$period-yellow: #f4f3aeff;
$period-grey: #efefefff;
